{% extends 'app/base.html' %}
{% block content %}
{% load static %}
    <!-- Cabecera -->
    <header class="masthead d-flex" style="background-image: url('{% static 'app/img/home-bg.jpg' %}');height:100vh">
      <div class="overlay"></div>
      <div class="container align-self-center">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Juan Pérez</h1>
              <span class="subheading">Analista de sistemas</span>
            </div>
          </div>
        </div>
      </div>
    </header>
{% endblock %}